.row
  .small-12.medium-8.medium-offset-2
    - if flash[:alert]
      .callout.alert
        %ul
          - flash[:alert].each do |message|
            %li=message
    = form_for @user do |user_form|
      = user_form.label 'Email'
      = user_form.email_field :email, required: true
      = user_form.label 'First Nane'
      = user_form.text_field :first_name, required: true
      = user_form.label 'Last Name'
      = user_form.text_field :last_name
      = user_form.label 'Password'
      = user_form.password_field :password, required: true
      = user_form.label 'Password Confirmation'
      = user_form.password_field :password_confirmation
      = user_form.submit 'Create My Account!', class: 'button', id: 'registration-submit'
