!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : 'Poll Machine'

    = stylesheet_link_tag "application"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tag

  %body
    .row
      - if logged_in?
        .small-2.small-offset-8.medium-1.medium-offset-9
          = link_to current_user_first_name, user_path(current_user_id)
        .small-2.medium-1
          = link_to 'Logout', logout_path
      - else
        .small-2.small-offset-8.medium-1.medium-offset-9
          =link_to 'Sign Up!', new_user_path
        .small-2.medium-1
          =link_to 'Login', new_session_path

    .row
      = yield
